.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-posts-here {
  padding-top: 50px;
  text-align: center;
}

.post {}

.post .post__date {
  float: left;
  text-align: left;
}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.post .post__options {
  text-align: right;
  padding-top: 19px;
  padding-bottom: 19px;
}

.post .post__options a:hover {
  text-decoration: none;
}

.post .post__button {
  float: right;
  margin: 3px; 
}

.account {}

.account .account__header {
  margin-bottom: 20px;
  text-align: center;
}

.account .account__username {
  font-weight: bold;
}
